@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{
    --cor-de-fundo: #6A1E55;
    --texto-principal: #CB9DF0;
    --texto-secundario: #000000;                     
}